
:host {
  display: inline-block;
 
  --areanet-cookiebanner-default-font-family: Arial;
  --areanet-cookiebanner-default-font-size: 16px;
  --areanet-cookiebanner-default-color-background: #252838;
  --areanet-cookiebanner-default-color-text: #FFFFFF;
  --areanet-cookiebanner-default-color-primary:#B60A00;
  --areanet-cookiebanner-default-color-primary-text: var(--areanet-cookiebanner-default-color-text);
  --areanet-cookiebanner-default-color-secondary:#666666;
  --areanet-cookiebanner-default-color-secondary-text: var(--areanet-cookiebanner-default-color-text);

  --areanet-cookiebanner-light-color-background: #EFEFEF;
  --areanet-cookiebanner-light-color-text: #252838;
  --areanet-cookiebanner-light-color-primary:#B60A00;
  --areanet-cookiebanner-light-color-primary-text: var(--areanet-cookiebanner-light-color-text);
  --areanet-cookiebanner-light-color-secondary:#666666b6;
  --areanet-cookiebanner-light-color-secondary-text: var(--areanet-cookiebanner-light-color-text);

  --font-size: var(--areanet-cookiebanner-font-size, var(--areanet-cookiebanner-default-font-size));
  cursor: pointer;
  font-size:var(--font-size);
}

:host *{
  font-family: var(--areanet-cookiebanner-font-family, var(--areanet-cookiebanner-default-font-family));
}

.an-modal-back{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0,0,0,0.3);
  z-index: 8000;
}

.an-modal-container{
  cursor: default;
  background-color: var(--areanet-cookiebanner-color-background, var(--areanet-cookiebanner-default-color-background));
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: fixed;
  bottom:0;
  left:25%;
  width:48%;
  padding:1%;
  text-align: center;
  z-index: 9000;
}

.an-modal-container.light{
  background-color: var(--areanet-cookiebanner-color-background, var(--areanet-cookiebanner-light-color-background));
}

.an-disabled{
  opacity: 0.5;
}

.an-modal-header, .an-modal-header *{
  color: var(--areanet-cookiebanner-color-text, var(--areanet-cookiebanner-default-color-text));
  font-weight:bold;
  font-size:calc(1.2 * var(--font-size));
  text-decoration: none;
}

.an-modal-container.light .an-modal-header,
.an-modal-container.light .an-modal-header *{
  color: var(--areanet-cookiebanner-color-text, var(--areanet-cookiebanner-light-color-text));
}

.an-modal-header h2,
.an-modal-header p{
  margin:0;
}

.an-modal-header h2{
  margin-bottom:6px;
}

.an-modal-header p,
.an-modal-header a,
.an-privacy p,
.an-privacy a,
.an-privacy span{
  color: var(--areanet-cookiebanner-color-secondary, var(--areanet-cookiebanner-default-color-secondary));
  font-size:calc(0.8 * var(--font-size));
  font-weight: normal;
}

.an-modal-container.light .an-modal-header p,
.an-modal-container.light .an-modal-header a,
.an-modal-container.light .an-privacy p,
.an-modal-container.light .an-privacy a,
.an-modal-container.light .an-privacy span{
  color: var(--areanet-cookiebanner-color-secondary, var(--areanet-cookiebanner-light-color-secondary));
}

.an-privacy p{
  margin-top:12px;
  margin-bottom:6px;
}

.an-modal-header a:hover,
.privacy a:hover{
  color: var(--areanet-cookiebanner-color-text, var(--areanet-cookiebanner-default-color-text));
}

.an-modal-container.light .an-modal-header a:hover,
.an-modal-container.light .privacy a:hover{
  color: var(--areanet-cookiebanner-color-text, var(--areanet-cookiebanner-default-color-text));
}

.an-modal-body{
  padding:0 16px;
}

.an-modal-body, 
.an-modal-body *{
  color: var(--areanet-cookiebanner-color-text, var(--areanet-cookiebanner-default-color-text));
  font-size: var(--font-size);
}

.an-modal-container.light .an-modal-body, 
.an-modal-container.light .an-modal-body *{
  color: var(--areanet-cookiebanner-color-text, var(--areanet-cookiebanner-light-color-text));
}

.an-modal-body:not(.an-privacy){
  margin:24px 0;
}

button{
  font-size:var(--font-size);
  border:1px solid transparent;
  padding:3px 24px;
  margin:0 12px;
  cursor:pointer;
}

button.an-primary{
  background-color: var(--areanet-cookiebanner-color-primary, var(--areanet-cookiebanner-default-color-primary));
  color: var(--areanet-cookiebanner-color-primary-text, var(--areanet-cookiebanner-default-color-primary-text));
}
.an-modal-container.light button.an-primary{
  background-color: var(--areanet-cookiebanner-color-primary, var(--areanet-cookiebanner-light-color-primary));
  color: var(--areanet-cookiebanner-color-background, var(--areanet-cookiebanner-light-color-background));
}

button.an-primary:hover{
  border-color:var(--areanet-cookiebanner-color-primary-text, var(--areanet-cookiebanner-default-color-primary-text));
}

.an-modal-container.light button.an-primary:hover{
  border-color:var(--areanet-cookiebanner-color-background, var(--areanet-cookiebanner-light-color-background));
}

button.an-secondary{
  background-color: var(--areanet-cookiebanner-color-secondary, var(--areanet-cookiebanner-default-color-secondary));
  color: var(--areanet-cookiebanner-color-secondary-text, var(--areanet-cookiebanner-default-color-secondary-text));
}

.an-modal-container.light button.an-secondary{
  background-color: var(--areanet-cookiebanner-color-secondary, var(--areanet-cookiebanner-light-color-secondary));
  color: var(--areanet-cookiebanner-color-background, var(--areanet-cookiebanner-light-color-background));
}

button.an-secondary:hover{
  border-color:var(--areanet-cookiebanner-color-secondary-text, var(--areanet-cookiebanner-default-color-secondary-text));
}

.an-modal-container.light button.an-secondary:hover{
  border-color:var(--areanet-cookiebanner-color-background, var(--areanet-cookiebanner-light-color-background));
}

.an-settings{
  display:flex;
  flex-direction: column;
  text-align:left;
  max-height:calc(100vh - 260px);
  min-height:80px;
  overflow:auto;
  overflow-x:hidden;
}

.an-settings-row{
  display:flex;
  flex-direction: row;
  margin-bottom:16px;
}

.an-label{
  flex:1 auto;
}

.an-cursor{
  cursor:pointer;
}

.an-description{
  font-size:calc(0.8 * var(--font-size));
  margin-bottom:4px;
  margin-top:2px;
  display:block;
  font-weight:normal;
}

.an-checkbox{
  display:none;
}

.an-checbox-mark{
  border-radius: 4px;
  text-align:center;
  width:20px;
  height:20px;
  background-color:var(--areanet-cookiebanner-color-secondary, var(--areanet-cookiebanner-default-color-secondary));
  color:transparent;
  border: 1px solid var(--areanet-cookiebanner-color-text, var(--areanet-cookiebanner-default-color-text));
}

.an-modal-container.light .an-checbox-mark{
  background-color:var(--areanet-cookiebanner-color-secondary, var(--areanet-cookiebanner-light-color-secondary));
  color:transparent;
  border: 1px solid var(--areanet-cookiebanner-color-text, var(--areanet-cookiebanner-light-color-text));
}

.an-checkbox:checked + .an-checbox-mark{
  background-color:var(--areanet-cookiebanner-color-primary, var(--areanet-cookiebanner-default-color-primary));
  color:var(--areanet-cookiebanner-color-text, var(--areanet-cookiebanner-default-color-text));
  opacity: 1;
}

.an-modal-container.light .an-checkbox:checked + .an-checbox-mark{
  background-color:var(--areanet-cookiebanner-color-primary, var(--areanet-cookiebanner-light-color-primary));
  color:var(--areanet-cookiebanner-color-background, var(--areanet-cookiebanner-light-color-background));
}

.an-notes-list,
.an-notes-header{  
  display:flex;
  flex-direction: row;
}

.an-notes-list .an-first span{ 
  padding-left:12px;
}

.an-notes-header b{
  cursor: pointer;
}

.an-notes-toogle::before{
  content: '\2609';
}

.an-notes-toogle.vendor::before{
  content: '\26AD';
}

.an-notes-toogle.external::before{
  content: '\26A0';
}

.an-notes-toogle b{
  text-decoration: underline;
  font-weight: normal;
}

.an-notes-list div,
.an-notes-header div{
  flex: 1 auto;
  width: 30%;
}

.an-notes-header,
.an-notes-header *,
.an-notes-list,
.an-notes-list *{
  font-size:calc(0.8 * var(--font-size));
  color: var(--areanet-cookiebanner-color-secondary, var(--areanet-cookiebanner-default-color-secondary));
}

.an-modal-container.light .an-notes-header,
.an-modal-container.light .an-notes-header *,
.an-modal-container.light .an-notes-list,
.an-modal-container.light .an-notes-list *{
  color: var(--areanet-cookiebanner-color-secondary, var(--areanet-cookiebanner-light-color-secondary));
}

.an-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 1600px) {
  .an-modal-container {
    width:78%;
    left:10%;
  }
}

@media only screen and (max-width: 960px) {
  .an-modal-container {
    width:98%;
    left:0;
  }
}

@media only screen and (max-width: 640px) {
  .an-modal-footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .an-modal-footer button{
    margin-bottom:6px;
  }
}